<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="Stylesheet"
        type="text/css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script language="javascript">

$(function () {
    $("#txtFrom").datepicker({
        minDate: 0,
        maxDate:15,
        onSelect: function (selected) {
            var dt = new Date(selected);
            dt.setDate(dt.getDate() + 1);
            $("#txtTo").datepicker("option", "minDate", dt);
        }
   });
});
function checkTime(element)
                {
                    var tstring = element.value;
                    var hr = parseInt(tstring.split(":")[0]);
                    var min = parseInt(tstring.split(":")[1]);
                    console.log(hr+min);
                    if(hr<8){
                        alert("Shows Must Start After 8 AM");
                    }
                    else if(hr>=23&&min>=1)
                    {
                        alert("Shows Must Start Before 11 PM");
                    }
                }
document.addEventListener('DOMContentLoaded', function() {
        var t='{{timeslot}}';
        console.log(t+"hi")
    document.getElementById("t").innerHTML+=t;
}, false);
</script>
       </head>
    <body>
        <CENTER>BOOK NOW </CENTER>
             <div id="qe">
<br>
<br>
<br>
<form action="/seats" method="post">
Choose CINEMA:
<select id="slct1" name="slct1" required>
  <option value="" disabled selected></option>
   <option value="Inox">Inox</option>
   <option value="Bharath Cinemas">
       Bharath Cinemas</option>
</select>
</div>
<br>

<table border="0" cellpadding="0" cellspacing="0">
<tr>
    <td>
        NOW:
    </td>
    <td>
        <input type="text" id="txtFrom" />
    </td>
    
       
</tr>
</table>
<hr>
<hr>
<div id="id10">
<br>
<p id="t">Time Slot: </p>
    </div>
    
<hr>
<hr>
   <form method="POST" action="seats">
    <button id="sel-seats">SELECT SEATS</button>
   </form>
    </body>
    </html>

