<!DOCTYPE html>
<html>
    <head>
        <title>
            CineBook
        </title>
        <h1>
            Welcome to CineBook
        </h1>
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <style>
                body {
                    font-family: Arial, Helvetica, sans-serif;
                    
                }
            </style>
            </head>
    <body>
        Latest Movies
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </body>
</html>
