<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<script>
var z="{{l}}" //stores the number of movies
var x="{{c[0]['movie']}}" //store moviename value for first entry in database
var y="{{c[0]['genre']}}" //store genre of 1st movie
alert(z)
alert(x)
</script>
</head>
<body>
<div class="nav-bar">
  <p>BOOK MY SHOW: NAV BAR</p>
  <ul style="margin-top:-30px;">
</ul>
</div>
<br>
<div class="carousel">
<div class="slideshow-container">
<div class="mySlides fade">
  <img src="https://static-news.moneycontrol.com/static-mcnews/2019/10/housefull4-770x433.jpg" style="width:100%">
  <button type="button" onclick="location.href='/seats';" value"Book" id="b1" name="b1" >Book Tickets</button>
</div>

<div class="mySlides fade">
  <img src="https://static-news.moneycontrol.com/static-mcnews/2019/10/housefull4-770x433.jpg" style="width:100%">
</div>

<div class="mySlides fade">
  <img src="ihttps://static-news.moneycontrol.com/static-mcnews/2019/10/housefull4-770x433.jpg" style="width:100%">
</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>
</div>

<div class="genres">
  <h2> NOW SHOWING</h2>
  <div class="movie-listing">
      <div class="movie-card">
          <img src="https://static-news.moneycontrol.com/static-mcnews/2019/10/housefull4-770x433.jpg" style="width:300px">
          <div class="container" >
            <h4><b> Bohemian&nbsp;&nbsp;Rhapsody</b></h4>
            <p>&#x2764;&nbsp;97%&nbsp;Drama|Music|Biography</p>
          </div>
        </div>
        <div class="movie-card">
            <img src="https://static-news.moneycontrol.com/static-mcnews/2019/10/housefull4-770x433.jpg" style="width:300px">
            <div class="container">
              <h4><b> Hidden&nbsp;&nbsp;Figures</b></h4>
              <p>&#x2764;&nbsp;92%&nbsp;Drama|Biography|History</p>
            </div>
          </div>
          <div class="movie-card">
              <img src="https://static-news.moneycontrol.com/static-mcnews/2019/10/housefull4-770x433.jpg" style="width:300px">
              <div class="container">
                <h4><b> Black&nbsp;&nbsp;Panther</b></h4>
                <p>&#x2764;&nbsp;87%&nbsp;Action|Adventure</p>
              </div>
            </div>
  </div>
</div>
</br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="genres">
    <h2> DRAMA</h2>
    <div class="movie-listing">
        <div class="movie-card">
            <img src="https://static-news.moneycontrol.com/static-mcnews/2019/10/housefull4-770x433.jpg" style="width:300px">
            <div class="container" >
              <h4><b> Bohemian&nbsp;&nbsp;Rhapsody</b></h4>
              <p >&#x2764;&nbsp;97%&nbsp;Drama|Music|Biography</p>
            </div>
          </div>
          <div class="movie-card">
              <img src="https://static-news.moneycontrol.com/static-mcnews/2019/10/housefull4-770x433.jpg" style="width:300px">
              <div class="container">
                <h4><b> Hidden&nbsp;&nbsp;Figures</b></h4>
                <p>&#x2764;&nbsp;92%&nbsp;Drama|Biography|History</p>
              </div>
            </div>
            <div class="movie-card">
                <img src="https://static-news.moneycontrol.com/static-mcnews/2019/10/housefull4-770x433.jpg" style="width:300px">
                <div class="container">
                  <h4><b> Black&nbsp;&nbsp;Panther</b></h4>
                  <p>&#x2764;&nbsp;87%&nbsp;Action|Adventure</p>
                </div>
              </div>
    </div>
  </div>
</br>
</br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <div class="genres">
      <h2> ROMANCE</h2>
      <div class="movie-listing">
          <div class="movie-card">
              <img src="https://static-news.moneycontrol.com/static-mcnews/2019/10/housefull4-770x433.jpg" style="width:300px">
              <div class="container">
                <h4><b> Bohemian&nbsp;&nbsp;Rhapsody</b></h4>
                <p>&#x2764;&nbsp;97%&nbsp;Drama|Music|Biography</p>
              </div>
            </div>
            <div class="movie-card">
                <img src="https://static-news.moneycontrol.com/static-mcnews/2019/10/housefull4-770x433.jpg" style="width:300px">
                <div class="container">
                  <h4><b> Hidden&nbsp;&nbsp;Figures</b></h4>
                  <p>&#x2764;&nbsp;92%&nbsp;Drama|Biography|History</p>
                </div>
              </div>
              <div class="movie-card">
                  <img src="https://static-news.moneycontrol.com/static-mcnews/2019/10/housefull4-770x433.jpg" style="width:300px">
                  <div class="container">
                    <h4><b> Black&nbsp;&nbsp;Panther</b></h4>
                    <p>&#x2764;&nbsp;87%&nbsp;Action|Adventure</p>
                  </div>
                </div>
      </div>
    </div>
<script type="text/javascript" >
  var slideIndex = 1;
  showSlides(slideIndex);
  
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }
  
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }
  
  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}    
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
    }
    slides[slideIndex-1].style.display = "block";  
  }
  </script>
</body>
</html>  