<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
            </head>
    <body>
        <form action="/homepg" method="post">
            <div class="container">
                <h1>Login</h1>
                <p>Please fill in your email and password to login.</p>
                <hr>
                
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" required id="email">
                    
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" id ="psw" name="psw" required>
                        
                            <hr>
                                <button type="submit" class="loginbtn">Login</button>
                                </div>
                                
                                <div class="container signin">
                                <p>Not registered? <a href="/register">Register here</a>.</p>
                                </div>
                                </form>
                                
                                </body>
                                </html>
