<html>


<head>
    <title>
        Booked Tickets
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        body{
            background-color: black;
        }
        h2{
            color:#D81F26;
            text-align: center;
            padding-bottom: 30px;
        }
       
        p{
            display: inline;
            color: white;
           font-size: 30px;
           padding-left:70px;
            
        }
        hr{
           
        }
    </style>
</head>

<body>
       
                <nav class="navbar navbar-inverse">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand" href="#" style="color:#D81F26;">CineBook</a>
                    </div>
                    <ul class="nav navbar-nav">
                      <li class="active" ><a href="{{ url_for('landing') }}" >Home</a></li>
                      <li ><a href="{{ url_for('orders') }}">Profile</a></li>
                      <li ><a href="{{ url_for('cancel') }}" >Cancel Tickets</a></li>
                      <li ><a href="{{ url_for('login') }}">Logout</a></li>
                      
                    </ul>
                  </div>
                </nav>
    <h2>TICKETS CURRENTLY BOOKED:</h2>

    <script>
        var x = '{{arr}}';
        var fill = [];
        var i = 0;
        '{% for elem in arr %}'
        fill.push('{{ elem }}');
        i++;
        console.log(fill[i]);
        '{% endfor %}'
        document.addEventListener('DOMContentLoaded', inp_text(), false);
        function inp_text() {
            for (var j = 0; j < i; j += 2) {
                var x=fill[j+1].substring(0,fill[j+1].length-1).split(",");
                x.shift();
                x.toString();
               var butt= document.createElement("p");
               butt.innerHTML=fill[j];
               butt.className=j;
               var seats=document.createElement("p");
               seats.innerHTML="<p>Seats:</p>";
               seats.className=j;
               var butt1= document.createElement("p");
               butt1.innerHTML=x+"<hr>";
                butt1.className=j;
               document.body.appendChild(butt);
               document.body.appendChild(seats)
               document.body.appendChild(butt1);

            }
        }
    </script>
</body>

</html>