<html>
    <head>
        <title>
            Profile
        </title>
        <script>
        var x='{{arr}}';
        x=x.replace("[","")
        x=x.replace("]","")
        x=x.split(",")
        var y='{{name}}';
        //alert(x);
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById("b").innerHTML+="Welcome "+y;
        document.getElementById("l").innerHTML+=x[0];
        document.getElementById("l").innerHTML+=x[2]}
        ,false)
        </script>
    </head>
    <body style="background-color: black;color: white;">
        <p id="b"></p>
        <p id="l"></p>
    </body>
</html>