<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
</head>

<body>
    <div class="login-dark">
        <h1>C I N E B O O K</h1>
        <div class="login-box">
        <form  action="/regSuccess" method="post">
            <h4 style="text-align: center;" >REGISTER</h4>
            <div class="form-group"><input class="form-control" type="text" placeholder="Email" name="email" required id="email"></div>
            <div class="form-group"><input class="form-control" type="password" placeholder="Password" id ="psw" name="psw" required></div>
            <div class="form-group"> <input class="form-control" type="password" placeholder="Password" id="psw_repeat" name="psw_repeat" required></div>
            <p>By creating an account you agree to our <a href="/terms">Terms & Privacy</a>.</p>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">REGISTER</button>
                <div class="container signin">
                        <p>Already have an account? <a href="/login">Sign in</a>.</p>
                      </div>
         </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>
